.container
  .row
    .col-xs-12
      select#indicatorList.form-control.selectpicker(data-live-search="true",data-style="btn-lg btn-default",title="Select an indicator to view the evidence summary")
        each indicator in indicators
          option(value=indicator._id, selected=indicator._id===+selectedId)= indicator.short_name
  #info
    - if(selectedId && selectedId>0 && indicators.length>selectedId)
      != indicators[selectedId].info