form.form-inline
  .form-group
    select#indicatorList.form-control.inline-select.selectpicker(data-live-search="true",data-width="auto")
      each indicator in indicators
        option(value=indicator._id, selected=indicator._id===+selectedId)= indicator.short_name
  .form-group.left-buffer.align-bottom
    label(for="reportType",style="display:block") Report type:
    select#typeList.inline-select(name="reportType")
      option(value='numerator',selected='numerator'===type || !type) Affected patients
      option(value='resolved',selected='numerator'===type) Successful intervention
      option(value='existing',selected='numerator'===type) Action pending
      option(value='new',selected='numerator'===type) New cases
  .form-group.left-buffer.align-bottom
    label(for="reportDate",style="display:block") Report date:
    select#dateList.inline-select(name="reportDate")
      each date in dates
        option(value=date._id, selected=date._id===+selectedDateId)= date.value
  .form-group.left-buffer.align-bottom
    label(for="comparisonDate",style="display:block") Comparison date:
    select#dateCompareList.inline-select(name="comparisonDate")
      each date in dates.slice(1)
        option(value=date._id, selected=date.value.indexOf('30 day')>-1)= date.value
.inline-loading-shade
  i.fa.fa-cog.fa-spin.fa-3x.fa-fw(style='margin-top: 20px')
#content