.practice-summary-box
  .practice-summary-title Practice size
  .practice-summary-value= summaryData.practiceSize
.practice-summary-box
  .practice-summary-title Patients affected by at least one indicator
  .practice-summary-value= summaryData.totalPatients
.practice-summary-box
  .practice-summary-title Patients affected by more than one indicator
  .practice-summary-value= summaryData.multiple
.practice-summary-box
  .practice-summary-title All indicator average
  .practice-summary-value= summaryData.allIndicatorAverage
