.container.container-small
  - if (flash && flash.shift)
    while message = flash.shift() 
      .alert.animated.fadeIn(class='alert-' + message.type)
        p= message.message
  form(method='post')
    legend Change Password
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(for='password') New Password
      input.form-control(type='password', name='password', id='password', placeholder='New password', autofocus, required)
    .form-group
      label(for='confirm') Confirm Password
      input.form-control(type='password', name='confirm', id='confirm', placeholder='Confirm password', required)
    .form-group
      button.btn.btn-primary.btn-reset(type='submit')
        i.fa.fa-keyboard-o
        | Change Password
