.col-md-6.col-md-push-6.login-well
  .well
    div(style='padding:5px')
      // consume messages as jade reads them
      - if (flash && flash.shift)
        while message = flash.shift() 
          .alert.animated.fadeIn(class='alert-' + message.type)
            p= message.message
      h3.hidden-xs.hidden-sm Sign in
      form.signin(action='/login', method='post')
        .row
          .col-sm-12.col-xs-8
            .form-group.clearfix
              label.col-sm-2.control-label.hidden-xs(for='email') Email
              .col-lg-8.col-sm-10
                input#email.form-control(required='', type='email', name='email', placeholder='Email')
          .col-xs-4.hidden-sm.hidden-md.hidden-lg
            button.btn.btn-primary(type='submit') Sign in
          .col-sm-12.col-xs-8
            .form-group.clearfix
              label.col-sm-2.control-label.hidden-xs(for='password') Password
              .col-lg-8.col-sm-10
                input#password.form-control(required='', type='password', name='password', placeholder='Password')
          .col-xs-4.hidden-sm.hidden-md.hidden-lg
            a(href='/forgot')  Forgot password?
          .col-sm-12.hidden-xs
            .form-group
              .col-lg-8.col-md-offset-2.col-md-10
                button.btn.btn-primary(type='submit') Sign in
                a(href='/forgot')  Forgot password?
        .row              
          .col-lg-8.col-md-offset-2.col-md-10(style='padding-top:6px')
            p
              small
                | If you would like to use the system but are not yet registered, please contact 
                a(href='mailto: this.is@fake.email') this.is@fake.email
                | .
.col-lg-offset-1.col-lg-5.col-md-6.col-md-pull-6(style='margin-top:50px')
  h1 Isomorphic vanilla brunch web app
  p Welcome to the isomorphic vanilla brunch web app!
  p
    | An attempt to write an isomorphic web app without a framework like Angular, React, Riot, Vue etc..
  p
    | More information can be found on the 
    a(href='https://www.github.com/rw251/isomorphic-vanilla',target='_blank') github repo
    | .
  p
    small
      | This dashboard has been developed by Richard Williams