.col-md-6.col-md-push-6.login-well
  .well
    // consume messages as jade reads them
    - if (flash && flash.shift)
      while message = flash.shift() 
        .alert.animated.fadeIn(class='alert-' + message.type)
          p= message.message
    h3.hidden-xs.hidden-sm Sign in
    form.signin(action='/login', method='post')
      .row
        .col-sm-12.col-xs-6
          .form-group
            label.col-sm-2.control-label.hidden-xs(for='email') Email
            .col-lg-8.col-sm-10
              input#email.form-control(required='', type='email', name='email', placeholder='Email')
        .col-sm-12.col-xs-3
          .form-group
            label.col-sm-2.control-label.hidden-xs(for='password') Password
            .col-lg-8.col-sm-10
              input#password.form-control(required='', type='password', name='password', placeholder='Password')
        .col-sm-12.col-xs-3
          .form-group
            .col-lg-8.col-md-offset-2.col-md-10
              button.btn.btn-primary(type='submit') Sign in
              a(href='/forgot')  Forgot password?
      .row              
        .col-lg-8.col-md-offset-2.col-md-10(style='padding-top:6px')
          p
            small
              | If you would like to use the system but are not yet registered, please contact 
              a(href='mailto:support@smash.srft.nhs.uk') support@smash.srft.nhs.uk
              | .
.col-lg-offset-1.col-lg-5.col-md-6.col-md-pull-6(style='margin-top:50px')
  h1 Medication safety dashboard
  p Welcome to the primary care medication safety dashboard!
  p
    | This system examines electronic health records and identifies patients who may be potentially at risk due to the
    | medications that they are receiving. These lists of patients are then displayed to support health professionals
    | when making decisions about patient care which could lead to improvements in medication safety in primary care.
  p
    | The system is currently being evaluated in Salford Clinical Commissioning Group (CCG), with general practices
    | receiving pharmacist support to help address medication safety challenges highlighted by the dashboard. User
    | feedback will be incorporated into a second version of the dashboard for wider rollout across Greater
    | Manchester.
  p
    | Please sign in using the form to the right to access the dashboard.
    span.glyphicon.glyphicon-hand-right(aria-hidden='true', style='font-size: 1.5em;')
  p
    | If you would like more information, please contact 
    a(href='mailto:support@smash.srft.nhs.uk') support@smash.srft.nhs.uk
    | .
  p
    small
      | This dashboard has been developed by the 
      a(href='http://www.population-health.manchester.ac.uk/primary-care-patient-safety/', target='_blank', rel='noopener')
        | NIHR Greater Manchester Primary Care Patient Safety Translational Research Centre (GM PSTRC)
      | .
  p
    small
      small
        | The views expressed are those of the authors and not necessarily those of the NHS, the NIHR or the Department of Health.
  .row
    .col-sm-4.col-xs-6
      img(src='/img/logo_uom.png', style='max-width: 100%; max-height: 100%;')
    .col-sm-4.col-xs-6
      img(src='/img/logo_nihr.png', style='max-width: 100%; max-height: 100%;')